{include file="index@Index/herder"}
<body style="background: #f4f4f4;">
<!-- 顶部 -->
<div id="header">
    <div class="header-left">
        <span class="iconfont icon-fanhui"></span>
    </div>
    <div class="header-content">转入</div>
    <div class="header-right">
    </div>
</div>

<!-- 内容 -->
<div class="content">
    <form id="forms" action="" method="">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">转入数额</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="" value="" placeholder="请输入转出数额">
                </div>
            </div>
        </div>

        <div class="form-btn">
            <button class="weui-btn weui-btn_primary" type="submit">确认</button>
        </div>
    </form>
</div>
{include file="index@Index/floor"}
<script src="/static/member/js/ajax.js"></script>
<script>
    $('.icon-fanhui').on('click', function () {
        location.href = '../index.html';
    });
</script>

</html>