<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>公告</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/res/css/common.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">文章管理</a>
          <a><cite>{if $type == 'edit'}编辑{else /}添加{/if}</cite></a>
        </span>
    </div>

    <form class="layui-form" action="/article">
        <!-- 编辑时写入id -->
        {if isset($article)}
        <input type='hidden' name='id' id='id' value='{$article["id"]}'/>
        {/if}

        <div class="layui-form-min">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="required" placeholder="标题" autocomplete="off"
                           class="layui-input" value='{if isset($article)}{$article["title"]}{/if}' maxlength="20"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-inline">
                    <input type="text" name="author" lay-verify="required" placeholder="作者" autocomplete="off"
                           class="layui-input" value='{if isset($article)}{$article["author"]}{/if}' maxlength="20"/>
                </div>
                <div class="layui-form-mid layui-word-aux">前台显示作者的名称</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <input type="text" name="describe" lay-verify="required" placeholder="描述" autocomplete="off"
                           class="layui-input" value='{if isset($article)}{$article["describe"]}{/if}' maxlength="20"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea id="fwb-content" name="fwb-content" style="display: none;">{if isset($article)}{$article["content"]}{/if}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id='submit' lay-submit lay-filter="*">立即提交</button>
                <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
            </div>
        </div>
    </form>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    /*layui.config({
        base: '/static/res/js/common/'
    }).use(['mForm', 'layer', 'layedit', 'element'], function () {
        var layedit = layui.layedit;
        layedit.build('content', {
            height: 380
        }); //建立编辑器
    }); //加载入口*/

    layui.config({
        base: '/static/res/js/common/'
    }).use(['mForm', 'layer', 'element']); //加载入口
</script>
</body>

</html>