<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>签到列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/res/css/common.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">系统管理</a>
          <a><cite>签到列表</cite></a>
        </span>
    </div>

    <div class="toolTable">
        <form class="layui-form layui-inline layui-form-query">
            <div class="layui-input-inline">
                <label class="layui-form-label layui-form-label-mid">时间筛选</label>

                <div class="layui-input-inline">
                    <input type="text" placeholder="请选择起始时间" name="startTime" class="layui-input layui-input-mid"
                           id="startTime" readonly/>
                </div>
            </div>
            <div class="layui-input-inline">
                <input type="text" placeholder="请选择结束时间" name="endTime" class="layui-input layui-input-mid" id="endTime"
                       readonly/>
            </div>

            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="query">
                    <i class="layui-icon ">&#xe615;</i>搜索
                </button>
            </div>
        </form>
    </div>

    <table lay-filter="table" id='idTable' lay-data='{id:"idTable"}'>
    </table>
</div>

<script src="/static/layui/layui.js"></script>

<!--<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>-->

<script>
    layui.config({
        base: '/static/res/js/common/'
    }).use(['layer', 'mTable', 'element', 'laydate'], function () {

        var layer = layui.layer;
        var mTable = layui.mTable;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#startTime',
            type: 'datetime'
        });
        laydate.render({
            elem: '#endTime',
            type: 'datetime'
        });

        mTable.init({
            url: {
                del: 'http://test.test/?d=1',
                table: '/attendance-table',
                edit: 'member.html?',
                add: 'member.html'
            },
            cols: [[
                {field: 'id', width: 100, title: '编号'},
                {field: 'member_account', width: 150, title: '帐号'},
                {field: 'member_nickname', title: '昵称'},
                {field: 'integral', title: '消耗积分'},
                {field: 'integral_now', title: '消耗积分'},
                {field: 'asset', title: '获得资产'},
                {field: 'asset_now', title: '获得资产'},
                {field: 'proportion', title: '日转比例'},
                {field: 'conversion', title: '日转速率'},
                {field: 'created_at', title: '签到时间'}
//                {fixed: 'right', title: '操作', width: 80, align: 'center', toolbar: '#tableTool'}
            ]]
        });
        mTable.render();
    });
</script>
</body>

</html>